.cat-products .title {
  margin-bottom: 20px;
}

/* PRODUCT */
.woocommerce ul.products li.product .woocommerce-loop-product__title {
  color: #000000;
  font-weight: 600;
}

.woocommerce ul.products li.product .price {
  color: #000000;
}

/* ADD TO CART */
.woocommerce a.button.add_to_cart_button,
.woocommerce a.button.product_type_simple,
.woocommerce .button.button.single_add_to_cart_button,
.woocommerce .button.button.single_add_to_cart_button.disabled,
.woocommerce .button.button.single_add_to_cart_button:hover,
.woocommerce .button.button.single_add_to_cart_button.disabled:hover {
   position: relative;
   background-color: #3d3d3d;
   color: #ffffff;
   border-radius: 0;
   padding: 15px 28px;
}

.woocommerce a.button.product_type_variable {
  padding: 15px 24px;
}

.woocommerce a.button.add_to_cart_button::after,
.woocommerce a.button.product_type_simple::after,
.woocommerce .button.button.single_add_to_cart_button::after {
  content: "";
  display: block;
  background-image: url('../assets/images/slash.jpg');
  position: absolute;
  top: 0;
  bottom: 0;
  right: -40px;
  width: 40px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* REMOVE LOADING ICON */
.woocommerce a.button.add_to_cart_button.loading::after {
  content: "";
  -webkit-animation: unset;
  animation: unset;
}

/* VIEW CART */
.woocommerce a.added_to_cart {
  float: right;
  padding-top: 0;
  margin-top: 23px;
  font-weight: 700;
}

@media( max-width: 767px ){
  .woocommerce-page ul.products[class*=columns-] li.product {
    width: 100%;
    float: none;
  }
}
